@import './fonts/index';
@import '../../normalize.css/normalize';
@import './components/heart';
@import './components/masonry';
@import './components/card';
@import './components/gallery';

$max-width: 1920px;

$title-font: 'Great Vibes';
$common-font-color: rgb(89, 94, 94);

$pink: #eaa0a2;
$pink-dark: darken(#eaa0a2, 20);
$purple: #3a4664;
$golden: darken(#FFD700, 10);
$gradient-color-1: linear-gradient(45deg, $pink 20%, $purple 80%);
$gradient-color-2: linear-gradient(45deg, $purple 20%, $pink-dark 80%);

*, *:before, *:after {
	box-sizing: border-box;
}

body {
	font-family: 'Halant', serif;
	font-size: 18px;
	min-width: 350px;
	> section {
		padding: 15px 30px;
		transition: 1s background-position-x ease, .5s background-position-y ease;
		&:nth-child(odd) {
			background-image: url('../img/css/dots.png');
			-webkit-background-image: url('../img/css/dots.png');
      background: #f3f2f1;
      position: relative;
    }
    &:last-of-type {
    	padding-bottom: 100px !important;
    }
	}

	@media(min-width: $max-width +1) {
   > * {
 	  max-width: $max-width;
 	  margin: auto;
   }
	}

	@media (max-width: 761px) {
    > * { padding: 15px;}
	}
}

.text-center { text-align: center; }

.colored-title {
	background-image: $gradient-color-1;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

[class^="button-"] {
	padding: 10px 15px;
  display: inline-block;
  border-radius: 36px;
  text-decoration: none;
  cursor: pointer;
  &:hover, &:active, &:focus {
  	transform: scale(1.1);
  }
}

.button-pink {
  color: white;
	background: $pink;
	transition: .5s ease box-shadow, .5s ease transform;
	&:hover, &:active, &:focus {
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
	}
}

.special-link {
	display: inline-block;
	position: relative;
	text-decoration: none;
	color: $pink-dark;
	transition: 1s color ease;

	&:before, &:after{
		content: '';
		display: inline-block;
		position: absolute;
		transition: .5s width ease;
		height: 1px;
		bottom:0;
		width: 0;
	}

	&:before {
		background: $pink-dark;
		left: 0;
	}
	&:after {
		transition-delay: .5s;
		background: $purple;
		right: 0;
	}

	&:hover, &:focus, &:active {
		color: $purple;
		&:before, &:after {
			width: 100%;
		}
	}
}

.header-container {
	border: 60px solid white;
	position: relative;
	min-height: 900px;
	@media (max-width: 761px) {
		border: 0;
		min-height: 400px;
	  .main-title { font-size: 3.5em; }
	  .secondary-title {
	  	font-size: 3em;
	  	margin-top: 15px;
	  }
	  .centered-text {
	  	height: 90%;
	  	width: 90%;
	  }
	}
}

.centered-text {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	display: inline-block;
	width: 78%;
  height: 80%;
  border: 1px solid $golden;
  border-radius: 20px;
}

.main-title {
	font-family: 'Great Vibes', cursive;
	font-weight: bold;
	font-size: 5em;
	margin-bottom: .3em;
	text-align: center;
}

.secondary-title {
	font-family: 'Great Vibes', cursive;
	font-size: 4em;
	margin-top: .3em;
  margin-bottom: .3em;
	text-align: center;
}

.sub-section-title {
	background-image: $gradient-color-2;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
	font-family: 'Great Vibes', cursive;
	font-size: 2.5em;
	margin-bottom: 0;
	margin-top: 0;
	text-align: center;
}

.circle {
	border-radius: 50%;
}

.us {
	text-align: center;
	@media (max-width: 761px) {
		text-align: justify;
	}
}

.content {
  margin: auto;
  max-width: 1000px;
  margin-bottom: 40px;
}

.story-content {
	display: flex;
	border-radius: 15px;
	overflow: hidden;
	.text {
		flex-basis: 40%;
		padding: 15px;
		text-align: justify;
		line-height: 19px;
		border: .5px solid $pink;
		background: rgba(255,255,255,.7);
		&:first-child {
			border-top-left-radius: 15px;
			border-bottom-left-radius: 15px;
			border-right: 0;
		}
		&:last-child {
			border-top-right-radius: 15px;
			border-bottom-right-radius: 15px;
			border-left: 0;
		}
		.sub-section-title { margin-top: 0; }
	}
	.img-grid {
		flex-basis: 60%;
	}

	@media (max-width: 600px) {
		flex-wrap: wrap;
		> * { flex-basis: 100% !important; }
		.sub-section-title { margin-bottom: 10px; }
		.text {
			order: 1;
			border-left: 1px solid $pink !important;
			border-right: 1px solid $pink !important;
			border-bottom-width: 0;
			border-top-left-radius: 15px;
			border-bottom-left-radius: 0 !important;
			border-top-right-radius: 15px;
			border-bottom-right-radius: 0 !important;
		}
		.img-grid { order: 2; }
	}
}

.responsive-img {
	max-width: 100%;
	display: block;
}

.presentation-layer {
	display: flex;
	margin-bottom: 0;
	> * {
		flex: 1;
	}
}

hr {
	width: 55%;
	border-color: $pink;
	border-width: 0.5px;
	margin: 30px auto;
}

p {
	margin-top: 0;
}

ul, ol {
	list-style: none;
	margin-top: 0;
	margin-bottom: 0;
	li {
		position: relative;
	  margin-top: 5px;
	  margin-bottom: 5px;
		b {
			color: darken($pink, 5);
		}
		&:before {
			content: '●';
			color: $pink;
			margin-right: 5px;

		}
	}
}

.jessi, .marco { min-width: 150px; }
.presentation-layer { max-width: 460px; }

.back-top {
	border-radius: 50%;
	height: 60px;
	width: 60px;
	font-size: 28px;
	text-align: center;
	position: fixed;
	bottom: 4%;
	left: 1%;
	transform: .5s opacity ease;
	user-select: none;
}

::selection{
  background: $pink;
  color: white;
}
::-moz-selection{
  background: $pink;
  color: white;
}
::-webkit-selection{
  background: $pink;
  color: white;
}

.clearfix {
	content: '';
	clear: both;
	display: table;
}

::-webkit-scrollbar {
  width: 20px;
  &-track {
  	box-shadow: inset 0 0 1px rgba(0,0,0,.5); 
  	border-radius: 10px;
	}
	&-thumb {
 	  background: $pink;
 	  border-radius: 10px;
 	  &:hover {
    	background: darkenn($pink, 5);
 	  }
	}
}

/* IE Hacks */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.sub-section-title {
		color: $pink;
		background: transparent;
	}

	.colored-title {
		color: $purple;
		background: transparent;
	}
}